.main-features--container{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
gap: 50px;
width: 930px;
margin: 0 auto;
}

.main-permissions{  
    position: relative;
    display: inline-block;
    width: 100%;
    height: 700px;
    background-color: #ffffff;
}

.permissions-container{  
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    top: 150px;
    left: 0;
    width: 100%;
    height: 330px;
    margin: 0 auto;
    background-color: #ffffff;
}
