* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-width: 720px;
  height: 90px;
  background: #7D0A0A;
  background: -webkit-linear-gradient(18deg, #7d0a0a 40%, #000000 100%);
  background: linear-gradient(18deg, #7d0a0a 40%, #000000 100%);
  box-shadow: 0 2px 8px 0 #1C2833;
  margin: 0px;
}

.main-nav--container {
  position: absolute;
  right: 5px;
  width: 400px;
  height: auto;
  text-align: center;
}

.main-nav {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 350px;
  list-style-type: none;
  font-size: 1.2rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.nav--items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: auto;
}

.nav--items a {
  text-decoration: none;
  color: #F8F9F9;
}

.nav--items span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  background: url("../assets/arrow_white.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.logo-container {
  position: absolute;
  width: 40%;
  min-width: 100px;
  height: 80px;
}

header .header-logo {
  width: 90px;
  height: 90px;
  margin-left: 80px;
}

.nav-container {
  display: flex;
  align-items: center;
  align-self: center;
  position: absolute;
  width: 150px;
  height: 80px;
  right: 20px;
  bottom: 5px;
}

.main-hero {
  position: relative;
  width: 100%;
  min-width: 720px;
  height: 80vh;
  padding: 0;
  background-image: url("../assets/herocar.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.main-hero h2 {
  width: 100%;
  position: absolute;
  top: 200px;
  margin: 0 auto;
  font-size: 5rem;
  line-height: 1rem;
  font-family: "Nunito", sans-serif;
  color: #ffffff;
}

.main-hero--button {
  position: absolute;
  bottom: -25px;
  width: 100%;
  height: 50px;
}

.hero-button {
  display: flex;
  align-items: center;
  width: 250px;
  height: 60px;
  margin: 0 auto;
  padding-left: 25px;
  background-color: #BF3131;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
}

.hero-button a:visited {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
}

.hero-button--arrow {
  width: 20px;
  height: 20px;
  margin-left: 40px;
  background-image: url("../assets/arrow_white.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.main-features {
  position: relative;
  width: 100%;
  min-width: 720px;
  height: auto;
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 50px;
}

.main-features--title {
  width: 90%;
  font-size: 2.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 100px auto 50px;
}

.main-features--container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.features-card {
  position: relative;
  width: 80%;
  min-width: 230px;
  max-width: 300px;
  min-height: 190px;
  margin: 20px 5px 10px;
  padding: 15px;
  background-color: #F8F9F9;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
}

.payment {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../assets/pay_red.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.clock {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../assets/clock.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.cars {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../assets/car_red.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.certified {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../assets/certified.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.money {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../assets/money.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.features-card--title {
  margin-top: 5px;
  padding-bottom: 25px;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-family: "Poppins", sans-serif;
  color: #BF3131;
}

.features-card--body {
  width: 90%;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin: 0 auto;
}

.main-vehicules {
  position: relative;
  width: 100%;
  min-width: 720px;
  height: auto;
  background-color: #F8F9F9;
}

.vehicules-title {
  position: absolute;
  top: 75px;
  left: calc(50% - 110px);
  width: 300px;
  min-width: 280px;
  height: auto;
}

.vehicules-title h2 {
  font-family: "Nunito", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.vehicules-container {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  gap: 30px;
  width: 90%;
  height: auto;
  padding: 200px 0 90px;
  margin: 0 auto;
}

.vehicules-container--features {
  display: inline-block;
  width: 300px;
  min-width: 280px;
  height: 370px;
  min-height: 250px;
  border-radius: 5px;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 0 2px 8px 0 #1C2833;
  margin: 0 auto;
}

.vehicule-image img {
  width: 300px;
  height: 250px;
}

.vehicule-description {
  position: relative;
  width: 80%;
  min-width: 280px;
  height: 120px;
  min-height: 150px;
  text-align: center;
  margin: 0 auto;
}

.vehicule-description--title {
  width: 90%;
  min-width: 150px;
  padding-top: 10px;
  font-size: 1.8rem;
  font-family: "Nunito", sans-serif;
  line-height: 1.5rem;
  margin: 0 auto;
}

.vehicule-description--body {
  width: 90%;
  height: auto;
  min-height: 50px;
  padding-top: 20px;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.8rem;
  margin: 0 auto;
}

.mid-hero {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 720px;
  height: 500px;
  background: #a92a2a;
  background: -webkit-linear-gradient(0deg, #a92a2a 0%, #000000 100%);
  background: linear-gradient(0deg, #a92a2a 0%, #000000 100%);
}

.mid-hero--title {
  position: absolute;
  top: 160px;
  width: 500px;
  height: 150px;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  z-index: 2;
}

.mid-hero--image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  opacity: 0.4;
}

.main-permissions {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 720px;
  height: 1200px;
  background-color: #ffffff;
}

.main-permissions--title {
  width: 300px;
  height: 50px;
  margin: 50px auto 0;
  text-align: center;
}

.main-permissions--title h2 {
  font-family: "Nunito", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.permissions-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  top: 120px;
  width: 95%;
  min-width: 500px;
  height: auto;
  margin: 0 auto;
  background-color: #ffffff;
}

.permissions-card {
  position: relative;
  width: 280px;
  height: 220px;
  border: solid 1px #7D0A0A;
  border-radius: 5px;
  margin: 20px 50px;
  transition: all 0.8s ease-out;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition-property: background-color;
  transition-property: box-shadow;
}

.permissions-card:hover {
  background-color: #f07575;
  box-shadow: 0 0 20px 1px rgba(217, 88, 88, 0.7);
  color: white;
}

.permissions-card--description {
  position: absolute;
  width: 90%;
  height: auto;
  margin: 0 auto;
  top: 35px;
  left: 0px;
}

.description-card--title {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  color: #1C2833;
  margin-bottom: 20px;
  margin-left: 40px;
}

.description-card--body {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #000000;
  line-height: 2.3rem;
  margin-left: 40px;
}

.permissions-more {
  position: relative;
  width: 200px;
  height: 20px;
  position: absolute;
  bottom: 15px;
  left: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.permissions-more:hover {
  cursor: pointer;
}

.more--arrow {
  position: absolute;
  top: 2px;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: 20px;
  background-image: url("../assets/right-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.float-description.inactive {
  display: none;
  position: fixed;
  top: 100px;
  width: 60%;
  max-width: 500px;
  min-width: 500px;
  height: 400px;
  background: rgba(191, 49, 49, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.float-description.active {
  position: fixed;
  top: 100px;
  width: 60%;
  max-width: 500px;
  min-width: 500px;
  height: 400px;
  background: rgba(191, 49, 49, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.float-description--a2.active {
  display: flex;
  position: absolute;
  left: 15px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 90%;
  height: 340px;
  margin: 0 auto;
}

.float-description--a2.inactive {
  display: none;
  position: absolute;
  left: 15px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 90%;
  height: 340px;
  margin: 0 auto;
}

.float-description--b1.active {
  display: flex;
  position: absolute;
  left: 15px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 90%;
  height: 340px;
  margin: 0 auto;
}

.float-description--b1.inactive {
  display: none;
  position: absolute;
  left: 15px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 90%;
  height: 340px;
  margin: 0 auto;
}

.float-description--c1.active {
  display: flex;
  position: absolute;
  left: 15px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 90%;
  height: 340px;
  margin: 0 auto;
}

.float-description--c1.inactive {
  display: none;
  position: absolute;
  left: 15px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 90%;
  height: 340px;
  margin: 0 auto;
}

.float-description--renew.active {
  display: flex;
  position: absolute;
  left: 15px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 90%;
  height: 340px;
  margin: 0 auto;
}

.float-description--renew.inactive {
  display: none;
  position: absolute;
  left: 15px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 90%;
  height: 340px;
  margin: 0 auto;
}

.float--closeButton {
  display: inline-block;
  position: fixed;
  top: 15px;
  left: 430px;
  width: 30px;
  height: 30px;
  background-image: url("../assets/close-button-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.float--title {
  font-size: 2.5rem;
  font-family: "Nunito", sans-serif;
  margin-bottom: 50px;
  line-height: 1.5rem;
  text-align: center;
}

.float--body {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  text-align: center;
}

.float--body span {
  font-weight: bold;
  color: #F8F9F9;
  margin-right: 50px;
}

.float-subscription {
  position: absolute;
  width: 300px;
  height: 50px;
  background-color: #7D0A0A;
  left: calc(50% - 140px);
  bottom: 5px;
  padding: 10px 15px;
  border-radius: 10px;
}

a.float-subscription--button {
  margin: 50px;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  color: #F8F9F9;
  text-align: center;
  text-decoration: none;
}

.main-reviews {
  position: relative;
  width: 100%;
  min-width: 720px;
  height: 550px;
  background-color: #F8F9F9;
}

.reviews-heading {
  position: absolute;
  top: 50px;
  left: calc(50% - 200px);
  width: 400px;
  height: 80px;
  margin: 10px auto 0;
  text-align: center;
  padding: 0px 5px;
}

.reviews-heading span {
  font-size: 2.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.reviews-heading h2 {
  font-size: 1.8rem;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

.reviews-container {
  display: flex;
  position: absolute;
  top: 140px;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  gap: 15px;
  margin-top: 100px;
  width: 100%;
}

.review {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 300px;
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  border-radius: 6px;
  background-color: #ffffff;
}

.review-container--google {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 15px;
  background-image: url("../assets/google-color.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.review-img {
  width: 55px;
  height: 55px;
  margin: 15px auto;
  background-color: #CCD1D1;
  border-radius: 50%;
  overflow: hidden;
}

.review-img img {
  width: 55px;
  height: 55px;
}

.review-score {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 5px;
  width: 150px;
  height: 30px;
  margin: 10px auto;
}

.review-score span {
  width: 20px;
  height: 20px;
  background-image: url("../assets/yellow_star.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.review p {
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  width: 250px;
  height: 60px;
}

.review-user {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 50px);
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.review-name {
  width: 100px;
  height: auto;
  font-size: 1.2rem;
  font-weight: bold;
}

.review-date {
  width: 100px;
  height: auto;
  color: #AEB6BF;
}

.footer-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  width: 100%;
  min-width: 720px;
  height: 200px;
  background-color: #000000;
}

.footer-contact {
  position: absolute;
  left: 10px;
  top: 5px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100px;
  padding: 10px;
  margin: 40px 5px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #ffffff;
}

.contact-address {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}

.contact-phone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}

.contact-email {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-address span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background-image: url("../assets/address-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.contact-phone span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background-image: url("../assets/phone-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.contact-email span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background-image: url("../assets/email-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-social {
  position: absolute;
  top: 20px;
  right: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
  height: 100px;
  padding: 10px;
  margin: 50px 5px;
}

.footer-social--logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 150px;
  height: 50px;
}

.footer--facebook {
  width: 70px;
  height: 70px;
}

.footer--instagram {
  width: 50px;
  height: 50px;
}

.floating-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  background-color: #7D0A0A;
  border-radius: 8px;
}

.floating-button span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../assets/arrow-up-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.green-background {
  background-color: #BF3131;
}